@inherits Constellation.Foundation.Mvc.EditorCompatibleView <Feature.Content.Models.HeroModel>
    

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    
    <div class="col-10 col-sm-8 col-lg-6">
        @Model.Image.Rendered
        <!--<img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">-->
    </div>
    <div class="col-lg-6">
        <p class="lead">@Model.HeroDescription</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            @Model.HeroLink.Rendered
            <a class="btn btn-primary btn-lg px-4 me-md-2">Primary</a>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
    </div>
</div>